.member {
/* bg */
position: fixed;
width: 100%;
height: 5%;
right: 0;
bottom: 0;
display: flex;
flex-wrap: wrap;
/* สีช่องรายชื่อสมาชิก */
background: #310B0B;
color: white;
justify-content: space-around;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

p {
    margin-top: 12px;
}